[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow="2.7.0"
apache-airflow-providers-google="10.1.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
